# LA, ML, DM
numpy
sklearn
scipy
pandas

# visualization
matplotlib
seaborn

# SP
pywavelets
dtw

# DL
tensorflow
tensorflow-gpu
keras
kapre

# audio
librosa
soundfile

# video
ffmpeg
moviepy

# stats
statsmodels

# vision
# sudo apt install cmake
scikit-build
cmake
# sudo apt install python3-opencv

# dev
# sudo apt install python-mysqldb
sqlalchemy
joblib
tqdm

# etc.
h5py
